body {
  font-family: sans-serif;
  margin: auto;
  max-width: 1280px;
  background-color: #025E73;
}

h1 {
 text-align: center;
 font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 color: #F2A71B;
}
h2 {
  text-align: center;
  color: #011F26;
  text-shadow: #F2A71B ;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

h3 {
  text-align: center;
  color: #730E35;
  font-family: monospace;
}
img {
  width: 400px;
  display: block;
  margin: 0px auto;
  -webkit-box-shadow: 5px 5px 10px #F2A71B;
 -moz-box-shadow: 2px 2px 5px #F2A71B;
 
}
